<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="URL" value="https://dns.mictlanix.net/mydyndns.php"></add>
		<add key="Domain" value="test01.mictlanix.org,test02.mictlanix.org"></add>
		<add key="ValidationKey" value="d644c0a2d3125ff010e0e81c9de362ed"></add>
	</appSettings>
</configuration>
